@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;

    line-height: 180%;
    color: #333;
}
html {
    font-size: 18px;
}
h1 {
    font-size: 2.0rem;
    color: #313539;
    text-align: left;
    width: 960px;
    min-width: 240px;

}
h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: #000;
    width: 960px;
    min-width: 240px;
    text-align: left;
    border-top: solid 1px #dadbdc;
    
}
h3 {

    font-size: 1.2rem;
    color: #000;
}
h4 {
    font-size: 0.7rem;
    line-height: 1.8;
    color: #000;
    margin-bottom: 1rem;
    
}
p {
    margin-bottom: 1.0rem;
}
.detail {
    color: #000;
    text-decoration: none;
    font-size: 0.8rem;
    border-bottom: solid 1px;
}
a:hover {
    color: #3449BF;
    text-decoration: underline;
    cursor: pointer;
}
.class {
display: flex;
flex-wrap: wrap;
margin-bottom: 3rem;
padding: 1rem 76px 0px 76px;
}
.thumb{
    height: 182px;
    width: 150px;
    object-fit: cover;
}
.mainProfText{
    transform: translate(0px, -11px);
    padding-left: 2rem;
}

.box2{
    display: flex;
    margin-bottom: 2rem;
    height: auto;
}
.box3{
    display: flex;
    margin-bottom: 2rem;
    height: auto;
    
}
#container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 1.0rem;
    display: flex;
    flex-direction: column;
}


#footer {
    margin-top: 64px;
    margin-bottom: 64px;
    font-size: 0.8rem;
    text-align: center;
}
#footer img {
    width: 300px;
    margin-bottom: 48px;
}
#remote {
	position: fixed;
    width: 40px;
    top:200px;
    left:80px;
    transform: translate(-50%, 0%);
	z-index: 99;
	display: block;
	opacity: 100%;
}
#home {
    width: 40px;
	height: 40px;
	opacity: 66%;
	margin-bottom: 10px;
	text-align: center;
}
#course {
    width: 40px;
	height: 40px;
	opacity: 66%;
	margin-bottom: 10px;
	text-align: center;
}
#homeText {
    position: fixed;
    height: 38px;
	padding-top: 2px;
    width: 183px;
    top:197px;
    opacity: 0%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #313539;
    overflow: hidden;
    -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
	z-index: 98;

}	

	#courseText {
    position: fixed;
    height: 38px;
	padding-top: 2px;
    width: 233px;
    top:247.5px;
    opacity: 0%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #313539;
    overflow: hidden;
    -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
	z-index: 98;

}
#ham {
    position: relative;
    height: 0px;
    width: 0px;
    top:70px;
    opacity: 0%;
    transform: translate(-50%, -50%);
    z-index: 99;
    overflow: hidden;
}	 


#burger {
    position: fixed;
    height: 0px;
    width: 0%;
    /*transform: translate(-50%, 0%);*/
    right: -100%;
    top: 150px;
    opacity: 100%;
    z-index: 100;
    background-color: #313539;
}	

#burger_x {
    position: absolute;
    height: 0px;
    width: 0px;
    top:70px;
    right: 0px;
    opacity: 100%;
    transform: translate(-50%, -50%);
    z-index: 99;
}	
@media screen and (max-width: 720px) {
    html {
        font-size: 16px;
    }
    h2 {
        font-size: 1.4rem;
    }
    .key {
        font-size: 1.1rem;
    }
    #footer img {
        width: 160px;
    }
    .class {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        padding: 1rem;
    }
    .thumb{
        height: 91px;
        width: 75px;
        object-fit: cover;
    }
    #remote {
        left:110%;
    }
    #container{
        padding-top: 40px;
    }
    #nav{
        width: 101%;
        height: 50px;
        left: 50%;
        transform: translate(-50%, -35%);
        margin-bottom: 40px;
        position: fixed;
        backdrop-filter: blur(15px);
        border: solid 1px transparent;
        background-clip: padding-box;
        background: rgba(255,255,255,0.6);
        z-index: 99;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
     }
    #ham {
        position: relative;
        height: 40px;
        width: 40px;
        top: 25px;
        opacity: 100%;
        transform: translate(-50%, -50%);
        z-index: 99;
    }	 
    #burger {
        position: fixed;
        height: 1730px;
        width: 40%;
        padding: 80px 10%;
        /*transform: translate(-50%, 0%);*/
        right: -100%;
        top: 0px;
        opacity: 100%;
        z-index: 100;
        background-color: #313539;

    }
    #burger_x {
        position: absolute;
        height: 40px;
        width: 40px;
        top: 25px;
        right: 19px;
        opacity: 100%;
        transform: translate(-50%, -50%);
        z-index: 99;
    }

    .cta{
		font-weight: 100;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 1.2rem;

	}
    .cta:link, .cta:visited {
        color: #fafbfc;
        text-decoration: none;
    }
    .cta:hover {
        color: #ffde58;
        text-decoration: underline;
    }
}