@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 180%;
    color: #777;
}
html {
    font-size: 18px;
}
h2 {
    margin-top: 3.0rem;
    margin-bottom: 2.0rem;
    font-size: 2.0rem;
    color: #000;
    text-decoration: underline;
    /* border-bottom: 2px dashed #000; */
}
p {
    margin-bottom: 1.0rem;
}
a, a:link, a:visited {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #3449BF;
    text-decoration: underline;
}

#container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 1.0rem;
}

.empty-100 {
    height: 1.0rem;
}
.caption {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
}
.key {
    font-size: 2.0rem;
    font-weight: 700;
    color:#3449BF;
}
.emp {
    font-weight: 700;
    color: #555;
    margin-bottom: 0.2rem;
}
.interview {
    text-align: right;
    margin-bottom: 0.2rem;
    font-weight: 400;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper video {
    width: 100%;
    max-width: 960px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#footer {
    margin-top: 64px;
    margin-bottom: 64px;
    font-size: 0.8rem;
    text-align: center;
}
#footer img {
    width: 300px;
    margin-bottom: 48px;
}
#remote {
	position: fixed;
    width: 40px;
    top:200px;
    left:80px;
    transform: translate(-50%, 0%);
	z-index: 99;
	display: block;
	opacity: 100%;
}
.icon{
    transform: translate(0%, 35%);
}

#r1 {
    width: 40px;
	height: 40px;
	opacity: 66%;
	margin-bottom: 10px;
	text-align: center;
    border-radius: 100%;
    background-color: #d1d5d9;
}
#r2 {
    width: 40px;
	height: 40px;
	opacity: 66%;
	margin-bottom: 10px;
	text-align: center;
    border-radius: 100%;
    background-color: #d1d5d9;
}
#r3 {
    width: 40px;
	height: 40px;
	opacity: 66%;
	margin-bottom: 10px;
	text-align: center;
    border-radius: 100%;
    background-color: #d1d5d9;
}
#r4 {
    width: 40px;
	height: 40px;
	opacity: 66%;
	margin-bottom: 10px;
	text-align: center;
    border-radius: 100%;
    background-color: #d1d5d9;
}
#r1Text {
    position: fixed;
    height: 38px;
	padding-top: 2px;
    width: 183px;
    top:197px;
    opacity: 0%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #313539;
    overflow: hidden;
    -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
	z-index: 98;

}	

#r2Text {
    position: fixed;
    height: 38px;
	padding-top: 2px;
    width: 233px;
    top:247px;
    opacity: 0%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #313539;
    overflow: hidden;
    -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
	z-index: 98;

}

#r3Text {
    position: fixed;
    height: 38px;
	padding-top: 2px;
    width: 233px;
    top:297px;
    opacity: 0%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #313539;
    overflow: hidden;
    -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
	z-index: 98;

}

#r4Text {
    position: fixed;
    height: 38px;
	padding-top: 2px;
    width: 233px;
    top:348px;
    opacity: 0%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #313539;
    overflow: hidden;
    -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
	z-index: 98;

}

#ham {
    position: relative;
    height: 0px;
    width: 0px;
    top:70px;
    opacity: 0%;
    transform: translate(-50%, -50%);
    z-index: 99;
    overflow: hidden;
}	 


#burger {
    position: fixed;
    height: 0px;
    width: 0%;
    /*transform: translate(-50%, 0%);*/
    right: -100%;
    top: 150px;
    opacity: 100%;
    z-index: 100;
    background-color: #313539;
}	

#burger_x {
    position: absolute;
    height: 0px;
    width: 0px;
    top:70px;
    right: 0px;
    opacity: 100%;
    transform: translate(-50%, -50%);
    z-index: 99;
}	


@media screen and (max-width: 720px) {
    html {
        font-size: 16px;
    }
    h2 {
        font-size: 1.4rem;
    }
    .key {
        font-size: 1.1rem;
    }
    #footer img {
        width: 160px;
    }
    #remote {
        left:110%;
    }
    #container{
        padding-top: 40px;
    }
    #nav{
        width: 101%;
        height: 50px;
        left: 50%;
        transform: translate(-50%, -35%);
        margin-bottom: 40px;
        position: fixed;
        backdrop-filter: blur(15px);
        border: solid 1px transparent;
        background-clip: padding-box;
        background: rgba(255,255,255,0.6);
        z-index: 99;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
     }
    #ham {
        position: relative;
        height: 40px;
        width: 40px;
        top: 25px;
        opacity: 100%;
        transform: translate(-50%, -50%);
        z-index: 99;
    }	 
    #burger {
        position: fixed;
        height: 1730px;
        width: 40%;
        padding: 80px 10%;
        /*transform: translate(-50%, 0%);*/
        right: -100%;
        top: 0px;
        opacity: 100%;
        z-index: 100;
        background-color: #313539;

    }
    #burger_x {
        position: absolute;
        height: 40px;
        width: 40px;
        top: 25px;
        right: 19px;
        opacity: 100%;
        transform: translate(-50%, -50%);
        z-index: 99;
    }

    .cta{
		font-weight: 100;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 1.2rem;

	}
    .cta:link, .cta:visited {
        color: #fafbfc;
        text-decoration: none;
    }
    .cta:hover {
        color: #ffde58;
        text-decoration: underline;
    }
}