#container {background-color: #002158;}


.a {
  background-color: #ffde58;
  width: 150px;
  height: 150px; 
  margin: 5px;
  font-size: 60px;
  }

.b {
  background-color: #00ffbc;
  width: 150px;
  height: 150px; 
  top: 150px;
  left: 500px;
  font-size: 60px;
  margin: 5px;
  position: static;
  }









#position {
  position: fixed;
  left: 1000px;
  top: 500px;
  color: #ffde58;
  font-size: 20pt;