

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&family=Noto+Sans+KR:wght@300;500;900&display=swap');

body {
    margin: 0;
    padding: 0;
    
}

#container {
    width: 100%;
    margin: 0 auto;
}


header {
    position: fixed;
    top: 20px;
    left: 0;
	right: 0;
    width: 960px;
	height: 60px;
    padding: 0px;
	margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    z-index: 10000;
    background-color: #F3F3F3;
	border-radius: 10px;
}

#logo {
    display: inline-block;
    position: relative;
	left:0;
	width:20%;
	height: 100%;
    margin: 0px 0;
    padding: 0;
}

#logo img {
	height:60%;
	width:auto;
	position: relative;
	display:block;
	margin: 12px auto;
	
}
#logo a {
    text-decoration: none;
}

#logo > img {
	
	max-height: 40%;
	max-width: 40%;
}

.menu_l {

	width:40%;

}

.menu_l ul {
display: flex;
	justify-content: space-evenly;
	width:100%;
	text-align: center;
	 margin-top: 18px;
}

.menu_l li {
	display: inline-block;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}
.menu_l a {
	text-decoration: none;
	color:#000000;
}
.menu_l a:hover {
	text-decoration:underline; 
}
#nowpage {
	font-weight: 900;
}
.menu_r {
	width: 40%;

}
.menu_r ul {
	display: inline-block;
	margin-top: 18px;
	right: 20px;
	width:100%;
}
.menu_r li {
	margin-right: 10%;
	float: left;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}
.menu_r a {
	text-decoration: none;
	color:#000000;
}
.menu_r a:hover {
		text-decoration:underline; 
}
main {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
#section1 {
    height: 920px;
    background-image: url("images/per/per_a.jpg");
    background-size: cover;
	background-position: 0 30%;
	background-repeat: no-repeat;
}

#box_a {
	position:absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	left:50%; transform:translateX(-50%);
	TOP:700px;
	height: 220px;
	width:270px;
	background-color:#111213;
	border-radius: 36px;
	padding: 30px;
}

#section2 {
    height: 800px;
	background-image: url("images/per/per_b.jpg");
    background-size: cover;
	background-position: 0 40%;
	background-repeat: no-repeat;
}

#box_b {
	position:absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	left:50%; transform:translateX(-50%);
	TOP:1500px;
	height: 220px;
	width:270px;
	background-color:#111213;
	border-radius: 36px;
	padding: 30px;
}

#section3 {
    height: 800px;
	background-image: url("images/per/per_c.jpg");
    background-size: cover;
	background-position: 0 40%;
	background-repeat: no-repeat;
}
#box_c {
	position:absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	left:50%; transform:translateX(-50%);
	TOP:2300px;
	height: 220px;
	width:270px;
	background-color:#111213;
	border-radius: 36px;
	padding: 30px;
}
#section4 {
    height: 920px;
	background-image: url("images/per/per_d.jpg");
    background-size: cover;
	background-position: 0 40%;
	background-repeat: no-repeat;
}
#box_d {
	position:absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	left:50%; transform:translateX(-50%);
	TOP:3100px;
	height: 220px;
	width:270px;
	background-color:#111213;
	border-radius: 36px;
	padding: 30px;
}
#title {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.6rem;
	font-weight: 900;
	color: #FFFFFF
	}

#colour {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.8rem;
	font-weight: 500;
	color:#999999;
	margin-right: 60px;
	}
#colour2 {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.8rem;
	font-weight: 500;
	color:#999999;
	margin-right: 90px;
	}
#serial {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.8rem;
	font-weight: 300;
	color:#555555;
}
#buy {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.6rem;
	font-weight: 900;
	color:#FFFFFF;
	margin-left: 90px;
}
#buy a {text-decoration: none;color:#D48A7C;}
#buy a:hover {color:#FF3300;}

#buy2 {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.6rem;
	font-weight: 900;
	color:#FFFFFF;
	margin-left: 60px;
}
#buy2 a {text-decoration: none;color:#D48A7C;}
#buy2 a:hover {color:#FF3300;}

#buy3 {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.6rem;
	font-weight: 900;
	color:#FFFFFF;
	margin-left: 6px;
}
#buy3 a {text-decoration: none;color:#D48A7C;}
#buy3 a:hover {color:#FF3300;}

	.ctgr {

	width:0%;

}

.ctgr ul {
	display: flex;
	justify-content: space-evenly;
	width:0%;
	text-align: center;
	margin-top: 18px;
}

.ctgr li {
	display: inline-block;
	list-style: none;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0rem;
}
.ctgr a {
	text-decoration: none;
	color:#000000;
}
.ctgr a:hover {
	text-decoration:underline; 
}










	footer {
    position: relative;
    width: 100%;
	top: 0;
    height: 80px;
    clear: both;
    padding: 0;
    margin: 0;
    background-color: #111213;
	}

#copyright {
    padding-top: 20px;
    text-align: center;
    font-size: 0.6rem;
	color: #666666;
	font-family: 'Montserrat', sans-serif;
}
  













@media screen and (max-width: 770px) {


	
	header {
    position: fixed;
    top: 10px;

    width: 258px;
	height: 30px;




    background-color: #F3F3F3;
	border-radius: 15px;
}
	
	

	
	
	
	
	
	
	
	.menu_l {

	width:120;

}

.menu_l ul {
	display: absolute;
	justify-content: space-evenly;
	width:100%;
	text-align: center;
	margin-top: 18px;
}

.menu_l li {
	display: inline-block;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 0rem;
}
.menu_l a {
	text-decoration: none;
	color:#000000;
}
.menu_l a:hover {
	text-decoration:underline; 
}
#nowpage {
	font-weight: 900;
}
.menu_r {
	width: 0%;

}
.menu_r ul {
	display: inline-block;
	margin-top: 18px;
	right: 20px;
	width:0;
}
.menu_r li {
	float: left;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 0rem;
}
.menu_r a {
	text-decoration: none;
	color:#000000;
}
.menu_r a:hover {
		text-decoration:underline; 
}
	
	
	#logo {
    display: inline-block;
    position: absolute;
	left:0;
	width:0;
	height: 100%;
    margin: 0px 0;
    padding: 0;
}

#logo img {
	height:0;
	width: 0;
	position: relative;
	display:block;
	margin: 0 0;
	
}
#logo a {
    text-decoration: none;
}

#logo > img {
	
	max-height: 40%;
	max-width: 40%;
}
	
	
		.ctgr {
	width:100%;

}

.ctgr ul {
	display: fixed;

	width:100%;
	margin-top: 4px;
}

.ctgr li {

	list-style: none;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.6rem;
	font-weight: 900;

}
.ctgr a {
	text-decoration: none;
	color:#000000;
}
.ctgr a:hover {
	text-decoration:underline; 
}
	
	
	
#section1 {
    height: 750px;
    background-image: url("images/per/per_a.jpg");
    background-size: cover;
	background-position: center;
}
	#box_a {
	position:absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	left:50%; transform:translateX(-50%);
	TOP:440px;
	height: 220px;
	width:270px;
	background-color:#111213;
	border-radius: 36px;
	padding: 30px;
}
#section2 {
    height: 700px;
	background-image: url("images/per/per_b.jpg");
    background-size: cover;
	background-position: center;
}

#box_b {
	position:absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	left:50%; transform:translateX(-50%);
	TOP:1140px;
	height: 220px;
	width:270px;
	background-color:#111213;
	border-radius: 36px;
	padding: 30px;
}

#section3 {
    height: 700px;
	background-image: url("images/per/per_c.jpg");
    background-size: cover;
	background-position: center;
}
#box_c {
	position:absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	left:50%; transform:translateX(-50%);
	TOP:1840px;
	height: 220px;
	width:270px;
	background-color:#111213;
	border-radius: 36px;
	padding: 30px;
}
#section4 {
    height: 700px;
	background-image: url("images/per/per_d.jpg");
    background-size: cover;
	background-position: center;
}
#box_d {
	position:absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	left:50%; transform:translateX(-50%);
	TOP:2540px;
	height: 220px;
	width:270px;
	background-color:#111213;
	border-radius: 36px;
	padding: 30px;
}	

}