*:focus { outline:none; }
body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }


body{
    background-color: #212529;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#block{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background: rgba(33,37,41,0.8);
    backdrop-filter: blur(10px);
    background-clip: padding-box;
    border: solid 1px rgba(0,0,0,0.1);
    z-index: 99999;
    color: #ff4554;
    font-family: source-han-sans-korean, sans-serif;
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    @media screen and (max-width: 720px) {

#block{
    width: 0%;
    height: 0%;


}

body{
    background-color: #212529;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img{
    width: 100%;
}

#title{
    width: 100%;
    
}

.gp{
    margin-bottom: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

p1{
    font-size: 0.6rem;
    color: #a1a3a9;
    text-align: center;
    font-family: source-han-sans-korean, sans-serif;
    font-weight: 400;

}

p2{
    font-size: 0.9rem;
    color: #ffffff;
    line-height: 2.4rem;
    font-family: source-han-sans-korean, sans-serif;
    font-weight: 200;
}

.textRed{
    color: #ff4554;
}


.mean{
width: 200px;
padding: 0;
margin: 0;
text-align: center;

}


#cta{
    width: 60px;
    height: 60px;
}



    }
