#footers {
    position: fixed;
	width: 356px;
	max-width: 100vw;
	padding: 0px;
    height: 89px;
	bottom: 89px;
	left: calc(50% - 178px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: nowrap;

}
			
#footers_image {
	position: relative;
	height: 21px;
	margin: 13px 13px 13px 10px;
	opacity: 22%;
}

#footer_image {
	height: 100%;
}			
			
#footer_text {
    text-align: left;
    font-weight: 300;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: -1px;
	word-spacing: 2px;
	position: relative;
	margin: 0 13px 0 10px;
	height: 55px;
	opacity: 22%;
}

.container0 {
	margin-bottom: 0px;
	}

.container1 {
	margin-bottom: 199px;
	}
	

.container {
	margin-bottom: 199px;
	}



@media screen and (min-width: 973px) {


#footers {
    position: fixed;
    width: 100%;
	max-width: 1920px;
    height: 144px;
	bottom: 0px;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}
				
#footers_image {
	position: relative;
	height: 55px;
	margin: 0 0 0 89px;
	opacity: 22%;
}

#footer_image {
	height: 100%;
}			
			
#footer_text {
    text-align: left;
    font-weight: 300;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 13px;
	line-height: 19px;
	position: relative;
	height: 55px;
	opacity: 22%;
	margin: 0 94px 0 89px;
}

.container0 {
	margin-bottom: 0px;
	}

.container1 {
	margin-bottom: 144px;
}
	

.container {
	margin-bottom: 144px;
}

}


@media screen and (max-width: 720px) {
			
#footers {
    position: fixed;
	width: calc(100% - 42px);
	max-width: 100vw;
	padding: 21px;
    height: 89px;
	bottom: 68px;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: nowrap;

}
			
#footers_image {
	position: relative;
	height: 21px;
	margin: 13px 13px 13px 13px;
	opacity: 22%;
}

#footer_image {
	height: 100%;
}			
			
#footer_text {
    text-align: left;
    font-weight: 300;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: -1px;
	word-spacing: 2px;
	position: relative;
	margin: 0 13px 0 13px;
	height: 55px;
	opacity: 22%;
}

.container0 {
	margin-bottom: 0px;
	}

.container1 {
	margin-bottom: 199px;
	}
	
.container {
	margin-bottom: 199px;
	}


}

