

body {
	-ms-overflow-style: none;
	-webkit-touch-callout: none; 
	user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	-webkit-user-select: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
} 
  
::-webkit-scrollbar { 
		display: none; 
}

.container0 {
	position:relative;
	width: 100vw;
	min-height: auto;	
	padding: 55px calc(50vw - 960px) 0 calc(50vw - 960px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	z-index: 1;
	border-radius: 0 0 0px 0px;
	overflow: hidden;
	gap: 0px;

}

.container1 {
	position:relative;
	width: 100vw;
	min-height: auto;	
	padding: 55px calc(50vw - 960px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	z-index: 1;
	border-radius: 0 0 13px 13px;
	overflow: hidden;
	gap: 0px;
}

.container {
	position:relative;
	width: 100vw;
	min-height: 100vh;	
	padding: 55px calc(50vw - 960px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	z-index: 1;
	border-radius: 0 0 13px 13px;
	overflow: hidden;
	gap: 55px;
}
.mainTitle {
    position:relative;
	width: 809px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0 89px;
}

.main {
	position:relative;
	width: 809px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0 89px 89px 89px;
}
	
.mainTextSplit {
	display: flex;
	flex-direction: column;
	gap: 55px;
	}

.mainText2c {
	width: auto;
}
	
.side {
	position:relative;
	width: 309px;
	min-width: 309px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 144px;
	padding: 0 89px;
}
	
.sideSec{
}

   #devlog{background-color: rgba(0,255,0,0.5);}
 
 
 














 @media screen and (min-width: 974px) {

body {
    -ms-overflow-style: none;
	-webkit-touch-callout: none; 
	user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	-webkit-user-select: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
   } 
      
::-webkit-scrollbar { 
    display: none; 
    }

.container0 {
	position:relative;
	width: 100vw;
	min-height: auto;
	padding: 165px calc(50vw - 960px) 55px calc(50vw - 960px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	z-index: 1;
	border-radius: 0 0 0px 0px;
	overflow: hidden;
	gap: 0px;
}
.container1 {
    position:relative;
	width: 100vw;
	min-height: 100vh;
	padding: 0px calc(50vw - 960px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-start;
	z-index: 1;
	border-radius: 0 0 13px 13px;
	overflow: hidden;
	gap: 0px;
}
.container {
    position:relative;
	width: 100vw;
	min-height: 100vh;
	padding: 165px calc(50vw - 960px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	z-index: 1;
	border-radius: 0 0 13px 13px;
	overflow: hidden;
	gap: 55px;
}
.mainTitle {
    position:relative;
	width: 809px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0 89px;
}
.main {
    position:relative;
	width: 809px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0 89px 89px 89px;
}

.mainTextSplit {
	display: flex;
	flex-direction: row;
	gap: 55px;
	flex-wrap: wrap;
}

.mainText2c {
	width: 370px;
	min-width: 370px;
}

.side {
    position:relative;
	width: 309px;
	min-width: 309px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 144px;
	padding: 0 89px;
}

.sideSec{
}




#devlog{background-color: rgba(255,0,0,0.5);}


	}























@media screen and (max-width: 720px) {



	#devlog{background-color: rgba(255, 255, 0,0.5);}


body { 
    -ms-overflow-style: none;
	-webkit-touch-callout: none; 
	user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	-webkit-user-select: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
   } 
   
::-webkit-scrollbar { 
    display: none; 
    }

.container0 {
	position:relative;
	width: 100%;
	min-height: auto;
	padding: 21px 21px 0px 21px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: flex-start;
	z-index: 1;
	border-radius: 0 0 0px 0px;
	overflow: hidden;
	gap: 0px;
	}
.container1 {
	position:relative;
	width: 100%;
	min-height: 100vh;
	padding: 0px 21px 0px 21px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	z-index: 1;
	border-radius: 0 0 13px 13px;
	overflow: hidden;
	gap: 0px;
	}
.container {
    position:relative;
	width: 100%;
	min-height: 100vh;
	padding: 21px 21px 55px 21px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	z-index: 1;
	border-radius: 0 0 13px 13px;
	overflow: hidden;
	}

.mainTitle {
	position:relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0px 21px;
	}
	
.main {
    position:relative;
	width: auto;
	min-width: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 21px 21px 55px 21px;
	}
		
.mainTextSplit {
	display: flex;
	flex-direction: column;
	gap: 55px;
	}

.mainText2c {
	width: auto;
}
	
.side {
    position:relative;
	width: auto;
	min-width: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 89px;
	padding: 0 21px;
	}

.sideSec{
}

}

