
#nav{
	bottom:0px;
	width: 100%;
	max-width: 1920px;
	position: fixed;
	z-index: 99;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	}

#navCard{
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	display: flex;
    background-clip: padding-box;
	border-radius: 13px;
	padding: 0 21px;
	margin: 13px;
	backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur( 6px );
	}

.navChip{
	height: 55px;
	width: 89px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 21px;
	text-decoration: none;
	}

.navChip:hover{
	font-weight: 700;
	}

#X10D_logo{
	height: 21px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
	}

.X10D_symbol{
	fill:none;
	fill-rule:evenodd;
	stroke-linecap:square;
	stroke-miterlimit:10;
	stroke-width:5px;
	}









@media screen and (min-width: 974px) {


#nav{
	bottom: calc(100vh - 165px);
	width: 100%;
	max-width: 1920px;
	position: fixed;
	z-index: 99;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	}

#navCard{
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	display: flex;
    background-clip: padding-box;
	border-radius: 13px;
	padding: 0 21px;
	margin: 55px 89px;
	backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur( 6px );
	}

.navChip{
	height: 55px;
	width: 89px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 21px;
	text-decoration: none;
	}

.navChip:hover{
	font-weight: 700;
	}

#X10D_logo{
	height: 21px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
	}

.X10D_symbol{
	fill:none;
	fill-rule:evenodd;
	stroke-linecap:square;
	stroke-miterlimit:10;
	stroke-width:5px;
	}

}



		 
@media screen and (max-width: 720px) {
			
#nav{
	bottom:0px;
	width: 100vw;
	padding-top: 0px;
	position: fixed;
	z-index: 99;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	}

#navCard{
	width: calc(100% - 26px);
	margin: 13px;
	justify-content: space-between;
	}
	
.navChip{
	height: 55px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 1rem;
	text-decoration: none;
	}

}

