@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;600&display=swap');


h3{
	font-weight: 600;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 1.618rem;
	margin: 0;
	padding: 0;

}

h4{
	font-weight: 200;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 1.618rem;
	margin: 0;
	padding: 0;
}


p{
	font-weight: 300;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 1rem;
	line-height: 1.618rem;
	margin: 0;
	padding: 0;

}

table{
	font-weight: 300;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 1rem;
	line-height: 1.618rem;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}


td{
	padding-right: 1rem;
}


@media screen and (min-width: 974px) {


h3{
	font-weight: 600;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 2rem;
	margin: 0;
	padding: 0;

}

h4{
	font-weight: 200;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 2rem;
	margin: 0;
	padding: 0;
}


p{
	font-weight: 300;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 1.236rem;
	line-height: 2rem;
	margin: 0;
	padding: 0;

}

table{
	font-weight: 300;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 1.236rem;
	line-height: 2rem;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}


td{
	padding-right: 1rem;
}

}





			 
			 
			 
			 
@media screen and (max-width: 720px) {
			



h3{
	font-weight: 600;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 1.4rem;
	margin: 0;
	padding: 0;

}

h4{
	font-weight: 200;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 1.4rem;
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
	word-spacing: 2px;

}


p{
	font-weight: 300;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 0.9rem;
	line-height: 1.4rem;
	margin: 0;
	padding: 0;

}

table{
	font-weight: 300;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 0.9rem;
	line-height: 1.4rem;
	margin: 0;
	padding: 0;

}


td{
	padding-right: 0.9rem;
}





				 
			 }

